<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Create Mushrooms</title>
</head>

<body>
    <h1>Add Ye Mushrooms Hither</h1>
    <header>
        <button class="nav" id="viewMushrooms" onclick="navView()">View Mushrooms</button>
        <button class="nav" id="createMushroom" onclick="navCreate()">Add Mushroom</button>
    </header>
    <div class="mushroom-form-container">
        <!-- form for creating mushrooms -->
        <form id="mushroom-form" action="submit">
            <p>Photo URL</p>
            <input type="text" id="photo" maxlength="2000" required>

            <p>Mushroom Species</p>
            <input type="text" id="name" maxlength="400" required>

            <p>City, State, Country</p>
            <input type="text" id="location" maxlength="400" required>

            <p>Date Observed</p>
            <input type="date" id="date" required>

            <p>Documentor Name</p>
            <input type="text" id="who" maxlength="40">

            <p>Altitude Found</p>
            <input type="number" id="altitude" maxlength="40">

            <p>Habitat In</p>
            <input type="text" id="habitat" maxlength="40">

            <p>Substrate Grown</p>
            <input type="text" id="substrate" maxlength="40">

            <p>Spore Print Color</p>
            <input type="text" id="spore_print" maxlength="40">

            <p>Edible?</p>
            <input type="checkbox" id="edible">

            <p>Psychoactive?</p>
            <input type="checkbox" id="psychoactive">

            <p>Notes</p>
            <textarea name="notes" form="mushroom-form" id="notes" maxlength="2000"
                onclick="clearTxt();">Enter text here...</textarea>
            <script>

            </script>

            <br><br>

            <input type="submit" id="submit-mushroom-button" value="Submit Mushroom">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../javascript/createMushroom.js"></script>
</body>

</html>