<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Mushrooms View</title>
</head>

<body>
    <h1>Mushrooms!</h1>
    <div id="mushroom-container"></div> <!-- where mushroom objects will be inserted  -->


    <footer>
        <button class="nav" id="viewMushrooms" onclick="navView()">View Mushrooms</button>
        <button class="nav" id="createMushroom" onclick="navCreate()">Add Mushroom</button>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../javascript/viewMushrooms.js"></script>
</body>

</html>