<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Mushrooms View</title>
</head>

<body>
    <br>
    <h1>The Mushrooms</h1>
    <container id="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </container>
    <header id="header" style="visibility: hidden">
        <button class="nav" id="topViewMushrooms" onclick="navView()">View Mushrooms</button>
        <button class="nav" id="createMushroom" onclick="navCreate()">Add Mushroom</button>
    </header>

    <h3 id='hide' style="visibility: visible">Loading Mushrooms</h3>

    <div id="mushroom-container"></div> <!-- where mushroom objects will be inserted  -->

    <br>

    <footer>
        <button class="nav" id="bottomViewMushrooms" onclick="navView()">View Mushrooms</button>
        <button class="nav" id="createMushroom" onclick="navCreate()">Add Mushroom</button>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../javascript/viewMushrooms.js"></script>
</body>

</html>